<section class="footer">
    <div class="container">
        <div class="text-center">
            <div class="socail">
                <button><a href="https://www.instagram.com/anotechnologies/"  target="blank" ><img src="../../assets/images/footer/Instagram.svg" alt=""></a></button>
                <button><a href="https://www.facebook.com/anotechnologiesllc/"  target="blank" ><img src="../../assets/images/footer/Dribbble.svg" alt=""></a></button>
                <button><a href="https://twitter.com/anotechnologies"  target="blank" ><img src="../../assets/images/footer/Twitter.svg" alt=""></a></button>
                <button><a href="https://www.youtube.com/channel/UCfkZKNH2IHbQOgNPeNBmEpg/featured"  target="blank" ><img src="../../assets/images/footer/Youtube.svg" alt=""></a></button>
            </div>
            <div class="footer-title">
                <div class="nav-bar">
                    <ul>
                        <li (click)="onabout()">About Us</li>
                        <li> <a href="https://medium.com/@anotechnologiesllc" target="_blank"> Blogs</a> </li>
                        <li (click)="ontrack()">Track Order</li>
                        <li>Help</li>
                        <li (click)="onContact()">Contact Us</li>
                        <li (click)="onpolicy()">Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <hr class="line">
            <div class="subscribe">
                <p>© 2021 Fixxi Technology. All rights reserved</p>
            </div>
        </div>
    </div>
</section>