.checkout {
    margin-top: 30px;
    margin-bottom: 40px;
}

.booking-detail {
    display: flex;
}

.booking-shop {
    height: 160px;
    margin-right: 15px;
}

.text-dangerr {
    font-family: "Poppins-Regular";
    margin-top: 3px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 10px;
    color: #e64e5d;
    width: 500%;
}

.booking-shop-img img {
    height: 60px;
    width: auto;
    border-radius: 5px;
}

.booking-shop-img h2 {
    font-size: 12px;
    font-family: "Poppins-SemiBold";
}

.booking-sho-price p {
    font-size: 10px;
    font-family: "Poppins-Regular";
    margin-bottom: 0px;
}

.booking-sho-price h2 {
    font-size: 30px;
    font-family: "Poppins-SemiBold";
    margin-bottom: 0px;
}

.booking-sho-price {
    margin-top: 15px;
}

.booking-sho-prices {
    display: flex;
    align-items: baseline;
}

.booking-sho-prices h2 {
    font-size: 30px;
    font-family: "Poppins-SemiBold";
    margin-right: 15px;
}

.booking-sho-prices h3 {
    font-size: 20px;
    font-family: "Poppins-Regular";
    text-decoration: line-through #d80606;
}

.booking-device {
    height: 120px;
}

.booking-device-box {
    background: #fff3d9;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    align-items: flex-end;
}

.booking-device-box p {
    font-size: 10px;
    margin-bottom: 5px;
    font-family: "Poppins-Regular";
}

.booking-device-box p span {
    margin-left: 5px;
    font-family: "Poppins-SemiBold";
}

.booking-date h2 {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
}

.Login_dividerWrapper__3pXsj p {
    margin-bottom: 0 !important;
}

.destroy-system {
    margin-top: 20px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.destroy-system-box {
    padding: 10px;
    margin-bottom: 10px;
}

.destroy-system-img {
    height: 126px;
    width: 130px;
}

.destroy-system-img img {
    height: 207px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.destroy-system-det {
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 92%;
}

.destroy-system-det h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-family: "Poppins-SemiBold";
}

.destroy-system-det p {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Poppins-SemiBold";
}

.destroy-system-btn button {
    border: none;
    width: 100%;
    border-radius: 10px;
    background: #000000;
    padding: 10px;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
    border-radius: 81px;
}

.alt-number {
    margin-top: 40px;
}

.alt-number p {
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    color: #697386;
    margin-bottom: 5px;
}

.alt-number-inp {
    display: flex;
    justify-content: space-between;
}

.alt-number-inp input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.alt-number-inp button {
    border: none;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 20px;
    height: fit-content;
    padding: 10px;
}

.deliver-cab {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.deliver-cab label {
    display: flex;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
}

.deliver-cab label hr {
    margin: 3px;
    border-top: 1px solid #505050;
    width: 100%;
}

.deliver-cab label input {
    padding: 10px;
    border: transparent;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.deliver-radio {
    margin-right: 10px;
}

.deliver-mail {
    display: flex;
    align-items: center;
}

.deliver-mail label {
    width: 100%;
    margin-bottom: 0px;
}

.deliver-mail button {
    border: none;
    background-color: #000000;
    width: 100%;
    padding: 10px;
    font-family: "Poppins-SemiBold";
    color: #ffffff;
    border-radius: 5px;
}

.promo-code {
    display: grid;
}

.promo-code input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: "Poppins-Regular";
}

.promo-code button {
    border: none;
    background-color: #000000;
    font-family: "Poppins-SemiBold";
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.card-payment {
    margin-top: 20px;
}

.card-number p {
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    color: #697386;
    margin-bottom: 5px;
}

.card-noo input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    /* margin-bottom: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.card-noo img {
    position: relative;
    right: -75%;
    top: -37px;
}

.card-exp-cvc {
    display: flex;
    margin-top: -25px;
}

.card-exp-cvc input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    /* margin-bottom: 20px; */
    font-family: "Poppins-Regular";
    width: 100%;
}

.border-righ {
    border-bottom-right-radius: 10px;
}

.border-left {
    border-bottom-left-radius: 10px;
}

.card-name {
    margin-top: 10px;
}

.card-name p {
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    color: #697386;
    margin-bottom: 5px;
}

.card-name input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.payment-country {
    margin-top: 15px;
}

.payment-country p {
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    color: #697386;
    margin-bottom: 5px;
}

.payment-country select {
    padding: 10px;
    border: 1px solid #d3d8e0;
    /* margin-bottom: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.payment-country input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    /* margin-bottom: 20px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.payment-btns {
    margin-top: 25px;
}

.pay-card button {
    border: none;
    background-color: #ffc542;
    color: #050505;
    font-family: "Poppins-Regular";
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
}

.pay-card button[disabled] {
    border: none;
    background-color: #050505;
    color: #ffc542;
    font-family: "Poppins-Regular";
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 2px solid #000000;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    margin-right: -1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    position: relative;
    right: 40px;
}

.radio input[type="radio"]+.radio-labell:before {
    top: 33px;
    right: 30px;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #ffc542;
    box-shadow: inset 0 0 0 4px #000;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #ffc542;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}


/* payment-done */

.payment-done {
    margin-top: 30px;
}

.payment-done-mess h2 {
    font-size: 60px;
    font-family: "Poppins-SemiBold";
    color: #ffc542;
}

.payment-done-mess p {
    font-size: 20px;
    font-family: "Poppins-Regular";
}

.payment-done-mess p span {
    font-family: "Poppins-SemiBold";
    background-color: #ffc542;
}

.payment-done-mess button {
    border: none;
    background-color: #ffc542;
    border-radius: 5px;
    padding: 10px;
    font-family: "Poppins-SemiBold";
}

.payment-done-feedback {
    margin-top: 20px;
}

.payment-done-feedback h2 {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
}

.payment-done-feedback p {
    font-size: 20px;
    font-family: "Poppins-Regular";
}

.feedback-input {
    display: flex;
    width: 100%;
}

.feedback-input textarea {
    padding: 10px;
    border: 1px solid #d3d8e0;
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.feedback-input button {
    border: none;
    background-color: #000000;
    margin-left: 20px;
    border-radius: 5px;
}

.pick-up {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    margin: auto;
    margin-top: 20px !important;
}

.pick-up h2 {
    font-family: "Poppins-SemiBold";
    font-size: 25px;
    margin-bottom: 0px;
}

.pick-up p {
    font-family: "Poppins-Regular";
    font-size: 20px;
    margin-bottom: 0px;
}

.deliver-system {
    margin-top: 20px;
}


/* .squaredOne */

.squaredOne {
    width: 27px;
    height: 27px;
    position: relative;
    margin: 20px auto;
    background: #ffc542;
    border-radius: 2px;
}

.squaredOne label {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
}

.squaredOne label:after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #ffc542;
    opacity: 0;
    border-radius: 2px;
}

.squaredOne label:hover::after {
    opacity: 0.3;
}

.squaredOne input[type="checkbox"] {
    visibility: hidden;
}

.squaredOne input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


/* end .squaredOne */

.policy {
    float: left;
}

.policy label p {
    font-family: "Poppins-Regular";
    margin-left: 32px;
    width: 1500%;
    position: relative;
    top: -4px;
}

.policy label p a {
    color: #ffc542;
}

.card-num-ng {
    border: 1px solid #d3d8e0;
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
    padding-left: 10px;
}