.forgot-pass {
    padding: 20px;
}

.close-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-side button {
    border: none;
    background-color: transparent;
}

.text-dangerr {
    font-family: "Poppins-Regular";
    margin-top: 3px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 10px;
    color: #e64e5d;
    width: 500%;
}

.forgot-pass h2 {
    font-size: 30px;
    font-family: "Poppins-SemiBold";
}

.forgot-pass p {
    font-size: 12px;
    font-family: "Poppins-SemiBold";
}

.login-form input {
    padding: 10px;
    border: 1px solid #d3d8e0;
    border-radius: 10px;
    font-family: "Poppins-Regular";
    width: 100%;
}

.submit-btn {
    margin-top: 30px;
}

.submit-btn button {
    border: none;
    background-color: #ffc542;
    font-family: "Poppins-SemiBold";
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}