<div class="driver-form">
    <div class="close-side">
        <h2>Driver Signup successfully</h2>
        <button><img (click)="close()" src="../../../assets/images/close.svg" alt=""></button>
    </div>
    <div class="form-message">
        <div class="row">
            <div class="col-md-6">
                <h2>Thank you for your request</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p> -->
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="../../../assets/images/driver.png" alt="">
            </div>
        </div>
    </div>
</div>