<section class="cart">
    <div class="bg-map">
        <!-- <agm-map [latitude]="21.175265" [longitude]="72.831855" [zoom]="17">
            <agm-marker [latitude]="21.175265" [longitude]="72.831855"></agm-marker> -->

        <agm-map *ngFor="let s of shop" [latitude]="s.latitude" [longitude]="s.longitude" [zoom]="12" [styles]="styles">
            <agm-marker [latitude]="s.latitude" [longitude]="s.longitude" [iconUrl]="ourmark.icon"></agm-marker>
        </agm-map>
    </div>
    <div class="container">
        <div class="shop-det">
            <div class="shop-dettt">
                <h2>{{shop[0].shopName}}</h2>
                <div class="cont">
                    <ngx-star-rating class="rating" [(ngModel)]="rating3" [id]="'rating3'" [disabled]="true">
                    </ngx-star-rating>
                </div>
            </div>
            <div class="detail-name2">
                <div class="dis-f">
                    <img src="../../assets/images/Call.svg" alt="">
                    <p>+1{{shop[0].mobileNumber}}</p>
                </div>
                <div class="dis-f">
                    <img src="../../assets/images/location.svg" alt="">
                    <p>{{shop[0].addressLine1}}, {{shop[0].addressLine2}} {{shop[0].city}}, {{shop[0].state}} - {{shop[0].zipCode}}</p>
                </div>
            </div>
        </div>

        <div class="service-added">
            <h3>Services Added</h3>
            <div class="row">
                <div class="col-md-3" *ngFor="let info of displayCartInfo">
                    <div class="add-pro">
                        <div class="add-pro-img">
                            <div id="info.id" class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,info.id)">
                                <ngx-dropzone-label>
                                    <div class="addd-btnn" *ngIf="!info.isImage">
                                        <img src="../../assets/images/upload.svg" alt="">
                                    </div>
                                </ngx-dropzone-label>
                                <div *ngIf="info.isImage">
                                    <div class="images" *ngFor="let f of info.image">
                                        <img src="{{f}}" alt=" ">
                                        <button (click)="Remove(f,info.id)">X</button>

                                    </div>

                                </div>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview " *ngFor="let f of info.imageFiles " [file]="f " [removable]="true " (removed)="onRemove(f,info.id) ">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </div>
                        </div>
                        <div class="add-pro-dett">
                            <h2>{{info.modelName}}</h2>
                            <p>{{info.problemName}}</p>
                            <div class="add-pro-price">
                                <p>Expected price : <span>${{info.TotalAmount}}</span></p>

                                <ng-template #HtmlContent>
                                    <div class="pricing-fact">
                                        <h5>Pricing Factors</h5>
                                        <p>- Part Price Based on Fixxi’s Parts Lists (Price Scale) :
                                            <span>${{info.price}}</span>
                                        </p>
                                        <p>- Base Fee : <span>${{info.ANOBaseFees}}</span></p>
                                        <p>- Fixxi’s Commission Fee : <span>${{info.ANOCommissionFees}}</span></p>
                                        <p>- Repair Shop Commission Fee :<span>${{info.ShopCommissionFees}} </span></p>

                                    </div>
                                </ng-template>
                                <img [tooltip]="HtmlContent" content-type="template" placement="right" theme="light" src="../../assets/images/checkout/outline.svg" alt="">
                            </div>
                            <div class="add-pro-btn">
                                <button (click)="deleteCartProduct(info.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="add-product-service">
                        <button><img class="img-fluid" src="../../assets/images/checkout/addproduct.svg" alt=""
                                (click)="addRepairDevice()">
                            <p>Add More</p>
                        </button>
                        <!-- <div class="total-total">
                            <p>Total</p>
                            <h2>${{totalCartAmount}}</h2>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="pic-booking-date">
            <h3>Booking Made Easy</h3>
            <div class="deliver-system">
                <div class="pick-ups">
                    <h4>Device(s) Pick up Slot</h4>
                    <h4>Slot</h4>
                    <h4>Pick up Address</h4>
                </div>
                <div class="deliver-cab radio">
                    <input class="deliver-radio" type="radio" (click)="mailradio($event.target.value)" [(ngModel)]="mailinrepairFlag" id="deliver-cab" name="deliver-system" value="Pickup" ng-checked="mailinrepairFlag">
                    <label for="deliver-cab" class="radio-label">
                        <div class="selectdate-time">
                            <!-- <input type="date" name="date" [(ngModel)]="placeOrder.date"
                                (input)="getTimeAccoedingToDate()" [min]="today" [value]="placeOrder.date"> -->
                            <dp-date-picker theme="dp-material" [config]="datePickerConfig" [disabled]="!pickFlag"
                                (onSelect)="testDate($event)" [minDate]="datePickerConfig.date"
                                placeholder={{datePickerConfig.date}} required="true"
                                (input)="getTimeAccoedingToDate()">
                            </dp-date-picker>
                            <select name="time" (change)="setTime($event)" placeholder="select time"
                                [disabled]="!pickFlag">
                                <option *ngFor="let time of timeList" [value]=time.id>{{tConvert(time.startTime)}} -
                                    {{tConvert(time.endTime) }}
                                </option>
                            </select>
                            <input type="text" name="pick-off" id="pick-off" [disabled]="!pickFlag"
                                [value]="pickupAddress" (keyup)="setpickupAddress($event.target.value)"
                                placeholder="Pick-up up Address">


                            <!-- <button (click)="chooseaddress()" [disabled]="!pickFlag">choose</button> -->
                            <button class="chose-address-page" [disabled]="!pickFlag" (click)="chooseaddres()">Select
                                Address</button>
                        </div>
                    </label><br>

                </div>
                <div class="text-dangerr" *ngIf="ValidZip">
                    Pickup Service not available in your area
                </div>


                <div class="deliver-mail radio">
                    <input class="deliver-radio" type="radio" (click)="mailradio($event.target.value)" id="deliver-mail" name="deliver-system" value="mail" [checked]="!mailinrepairFlag">
                    <label for="deliver-mail" class="radio-label radio-labell">
                        <div class="mail-product">
                            <img src="../../assets/images/checkout/mail.svg" alt="">
                            <h3>Mail-in Repair</h3>
                        </div>
                        <div class="mail-product">
                            <p>Please drop in your devices </p>
                        </div>
                    </label><br>
                </div>
            </div>


            <div class="deliver-system drop-off-slot">
                <div class="pick-ups">
                    <h4>Device(s) Return Slot</h4>
                    <h4>Slot</h4>
                    <h4>Return Address</h4>
                </div>
                <div class="deliver-cab radio">
                    <input class="deliver-radio" type="radio" (click)="dropradio($event.target.value)" [(ngModel)]="dropinrepairFlag" id="drop-off-opt" name="deliver-system1" value="drop" [checked]="dropinrepairFlag">
                    <label for="drop-off-opt" class="radio-label">
                        <div class="selectdate-time">
                            <!-- <input type="date" name="distance" [(ngModel)]="placeOrder.date"
                                (input)="getTimeAccoedingToDate()" [value]="expecteddate"  disabled> -->
                            <input type="date" name="distance" [value]="expecteddate" disabled>
                            <input class="middle-inp" type="text" name="time" [value]="expectedtime"
                                [value]="tConvert(expectedtime)" [disabled]="!dropFlag">
                            <!-- <select name="time" (change)="setTime($event) " placeholder="select time " disabled>
                                <option>Select Time</option>
                                <option *ngFor="let time of timeList " [value]=time.id>{{time.startTime}} -
                                    {{time.endTime}}
                                </option>
                            </select> -->
                            <input type="text" name="drop-off" [value]="dropAddress" [disabled]="!dropFlag"
                            (keyup)="setdropAddress($event.target.value)" id="drop-off"
                            placeholder="Drop up Address">

                        <!-- <button (click)="chooseaddress()" [disabled]="!dropFlag">choose</button> -->
                        <button class="chose-address-page" [disabled]="!dropFlag" (click)="chooseaddress()">Select
                                Address</button>
                        </div>
                    </label><br>
                </div>


                <div class="text-dangerr" *ngIf="ValidZIP">
                    Drop Service not available in your area
                </div>

                <div class="deliver-mail radio">
                    <input class="deliver-radio" type="radio" (click)="dropradio($event.target.value)" id="pick-up" name="deliver-system1" value="selfpickup" [checked]="!dropinrepairFlag">
                    <label for="pick-up" class="radio-label radio-labell">
                        <div class="mail-product">
                            <img src="../../assets/images/checkout/mail.svg" alt="">
                            <h3>Pick-up Device</h3>
                        </div>
                        <div class="mail-product">
                            <p>I will pick up the device from the store</p>
                        </div>
                    </label><br>
                </div>
            </div>
            <div class="base-fee">
                <hr>
                <div class="base-fee-detail">
                    <div class="base-fee-name">
                        <h3>Repair Charge</h3>
                        <h3>Base fee</h3>
                        <h3>Fixxi’s Commission Fee: 20%</h3>
                        <h3>Shop Commission Fees</h3>
                        <h3>Delivery(Distance {{Distance}} mi)</h3>
                        <h2>Total to Pay</h2>
                    </div>
                    <div class="base-fee-price">
                        <h3>${{Prices}}</h3>
                        <h3>${{ANOBaseFeess}}</h3>
                        <h3>${{ANOCommissionFeess}}</h3>
                        <h3>${{ShopCommissionFeess}}</h3>
                        <h3>${{DeliveryPrices}}</h3>
                        <h2>${{totalCartAmounts}}</h2>
                    </div>
                </div>
                <hr>
            </div>
            <div class="proceed-btn">
                <button (click)="proceed()">Proceed</button>
            </div>
        </div>
    </div>
</section>