<div class="change-pass">
    <form [formGroup]="changepsw">
        <div class="close-side">
            <h2>Change Password</h2>
            <button><img (click)="close()"src="../../../assets/images/close.svg" alt=""></button>
        </div>
        <div>{{msg}}</div>

        <div class="login-form">
            <input type="password" formControlName="old_password" name="old-password" id="old-password" placeholder="Old Password">
            <!-- <div class="text-dangerr">
            Please Enter valid Email id
        </div> -->
        </div>
        <div class="login-form">
            <input type="password" formControlName="password" name="new-password" id="new-password" placeholder="New Password">
            <!-- <div class="text-dangerr">
            Please Enter valid Email id
        </div> -->
        </div>
        <div class="login-form">
            <input type="password" formControlName="confpassword" name="conf-password" id="conf-password" placeholder="Confirm Password">
            <div class="text-dangerr" *ngIf="notmatch">
                Please Enter same password
            </div>
            <div class="text-dangerr" *ngIf="empty">
                Please fill all the value
            </div>
        </div>
        <div class="submit-btn">
            <button (click)="Changepsw()">Submit</button>
        </div>
    </form>
</div>